# C++ Executables
*.out

# C++ Objects
*.o

# Python Byte Code
*.pyc

# Caffe Models
*.caffemodel

# Directory Contents
features/*
!features/README.md

weights/*
!weights/README.md

inputs/*
!inputs/README.md

results/*
!results/README.md

helper/imagenet_tools/imagenet_1000/*
!helper/imagenet_tools/imagenet_1000/README.md

helper/imagenet_tools/mean_image_reduced/*
!helper/imagenet_tools/mean_image_reduced/README.md

helper/imagenet_tools/mean_pixel_reduced/*
!helper/imagenet_tools/mean_pixel_reduced/README.md
