# C++ Executables
*.out

# C++ Objects
*.o

# Python Byte Code
*.pyc

# Caffe Models
*.caffemodel

# Directory Contents
accuracies/*
!accuracies/README.md

features/*
!features/README.md

inputs/*
!inputs/README.md

weights/*
!weights/README.md
